--swiftversion 5.6

--exclude Sources/**/Generated,Tests/**/Generated,**/Package.swift

--disable wrapMultiLineStatementBraces
--disable hoistPatternLet
--disable preferForLoop
--disable consistentSwitchCaseSpacing
--disable docCommentsBeforeModifiers
--disable docComments # converts regular comments into doc comments even when they're implementation notes
--disable emptyExtensions

--commas inline
--ifdef no-indent
--indent 4
--indent-blank-lines enabled
--nospaceoperators ...,..<
--stripunusedargs closure-only
--trimwhitespace nonblank-lines
--wraparguments after-first
--wrapparameters after-first
--redundanttype inferred
--emptybraces spaced
